<!DOCTYPE html>
<html>
<head>
  <title>팀 수정 페이지</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f5f5f5;
      margin: 0;
      padding: 20px;
    }

    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 0 20px;
    }

    .container a {
      color: #ffffff;
      text-decoration: none;
    }

    header {
      background-color: #333;
      color: #fff;
      padding: 20px 0;
    }

    h1, h2, h3, h4 {
      margin: 0;
    }

    nav {
      border-top: 2px solid white;
      border-bottom: 2px solid white;
    }

    nav ul {
      list-style: none;
      margin: 10px;
    }

    nav ul li {
      display: inline-block;
      margin-right: 50px;
    }

    nav ul li {
      color: #fff;
      text-decoration: none;
    }

    nav ul li :hover {
      text-decoration: none;
    }

    h2 {
      text-align: center;
      margin-top: 20px;
    }

    .edit-team {
      max-width: 400px;
      margin: 20px auto 0;
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .edit-team label {
      margin-bottom: 10px;
      font-weight: bold;
    }

    .edit-team .field {
      margin-bottom: 30px;
    }

    .edit-team .field label {
      display: block;
    }

    .edit-team .field input[type="text"] {
      width: 95%;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }

    .edit-team .field input[type="text"]::placeholder {
      color: #999;
    }

    .input-member {
      margin-top: 3px;
    }

    .add-button {
      text-align: left;
      margin-top: 5px;
    }

    .add-button button {
      background-color: #999999;
      color: #fff;
      border: none;
      padding: 5px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      border-radius: 5px;
      cursor: pointer;
    }

    .add-button button:hover {
      background-color: #007B9E;
    }

    .edit-team .edit-team-button {
      text-align: center;
      margin-top: 20px;
    }

    .edit-team .edit-team-button button {
      background-color: #4CAF50;
      color: #fff;
      border: none;
      padding: 12px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      border-radius: 5px;
      cursor: pointer;
    }

    .edit-team .edit-team-button button:hover {
      background-color: #45a049;
    }

    .edit-team .home-button {
      text-align: center;
      margin-top: 30px;
    }

    .edit-team .home-button button {
      background-color: #008CBA;
      color: #fff;
      border: none;
      padding: 12px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      border-radius: 5px;
      cursor: pointer;
    }

    .edit-team .home-button button:hover {
      background-color: #007B9E;
    }

    .edit-team .delete-team-button {
      text-align: center;
      margin-top: 30px;
    }

    .edit-team .delete-team-button button {
      background-color: #FF8766;
      color: #fff;
      border: none;
      padding: 12px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      border-radius: 5px;
      cursor: pointer;
    }

    .edit-team .delete-team-button button:hover {
      background-color: #DB6C4D;
    }
  </style>
</head>
<body>
<header>
  <div class="container">
    <h1>
      <a href="/">썬더일레븐</a>
    </h1>
    <nav>
      <ul>
        <li><a href="/match">퀵 매치</a></li>
        <li><a href="/match-result">전적 보기</a></li>
        <li><a href="">용병 모집</a></li>
        <li><a href="/map">경기장 찾기</a></li>
        <li><a href="/team/my">마이 팀</a></li>
        <li><a href="/user">프로필</a></li>
      </ul>
    </nav>
  </div>
</header>

<h2>팀 수정</h2>
<div class="edit-team">
  <!--  <form action="/team/{{ teamId }}/edit?_method=PATCH" method="POST">-->
  <form action="" method="POST">
    <div class="field" hidden="hidden">
      <input class="teamId" type="text" name="teamId" id="teamId" value="{{ teamId }}" readonly>
    </div>
    <div class="field">
      <label>팀 이름</label>
      <input type="text" name="teamName" id="teamName" value="{{ teamName }}">
    </div>
    <div class="field">
      <label>활동 지역</label>
      <input type="text" name="region" id="region" value="{{ region }}">
    </div>
    <div class="field">
      <label>팀 레벨</label>
      <input type="text" name="teamLevel" value="{{ teamLevel }}" readonly>
    </div>
    <div class="field">
      <label>매너 온도</label>
      <input type="text" name="mannerRate" value="{{ mannerRate }}" readonly>
    </div>
    <div class="field">
      <label>매너 카운트</label>
      <input type="text" name="mannerCount" value="{{ mannerCount }}" readonly>
    </div>
    <div class="field">
      <label>팀 인원</label>
      <input type="text" name="headCount" value="{{ headCount }}" readonly>
    </div>
    <div class="field" id="inputMember">
      <label>팀 멤버</label>
      {{#each teamMember}}
        {{#if @index}}
          <input class="input-member" type="text" name="member{{ @index }}" value="{{ this }}">
        {{else}}
          <input class="input-member" type="text" name="member{{ @index }}" value="{{ this }}" readonly>
        {{/if}}
      {{/each}}
    </div>
    <div class="add-button">
      <button type="button" onclick="addNewMember()">+</button>
    </div>
    <div class="edit-team-button">
      <button type="submit">팀 수정하기</button>
    </div>
  </form>
  <form action="/team/{{ teamId }}?_method=DELETE" method="POST">
    <div class="delete-team-button">
      <button type="submit">팀 삭제하기</button>
    </div>
  </form>
  <div class="home-button">
    <form action="/" method="GET">
      <button>메인</button>
    </form>
  </div>
</div>
<script src="../script-edit.js"></script>
</body>
</html>
