<!DOCTYPE html>
<html>
<head>
  <title>팀 수정 페이지</title>
  <link rel="stylesheet" href="/team/css/edit.css">
</head>
<body>
<header>
  <div class="container">
    <h1>
      <a href="/">썬더일레븐</a>
    </h1>
    <nav>
      <ul>
        <li><a href="/match">퀵 매치</a></li>
        <li><a href="/match-result">전적 보기</a></li>
        <li><a href="">용병 모집</a></li>
        <li><a href="/map">경기장 찾기</a></li>
        <li><a href="/team/my">마이 팀</a></li>
        <li><a href="/user">프로필</a></li>
      </ul>
    </nav>
  </div>
</header>

<h2>팀 수정</h2>
<div class="edit-team">
  <!--  <form action="/team/{{ teamId }}/edit?_method=PATCH" method="POST">-->
  <form action="" method="POST">
    <div class="field" hidden="hidden">
      <input class="teamId" type="text" name="teamId" id="teamId" value="{{ id }}" readonly>
    </div>
    <div class="field">
      <label>팀 이름</label>
      <input type="text" name="teamName" id="teamName" value="{{ teamName }}">
    </div>
    <div class="field">
      <label>활동 지역</label>
      <input type="text" name="region" id="region" value="{{ region }}">
    </div>
    <div class="field">
      <label>팀 레벨</label>
      <input type="text" name="teamLevel" value="{{ teamLevel }}" readonly>
    </div>
    <div class="field">
      <label>매너 온도</label>
      <input type="text" name="mannerRate" value="{{ mannerRate }}" readonly>
    </div>
    <div class="field">
      <label>매너 카운트</label>
      <input type="text" name="mannerCount" value="{{ mannerCount }}" readonly>
    </div>
    <div class="field">
      <label>팀 인원</label>
      <input type="text" name="headCount" value="{{ headCount }}" readonly>
    </div>
    <div class="field" id="inputMember">
      <label>팀 멤버</label>
      {{#each teamMember}}
        {{#if @index}}
          <input class="input-member" type="text" name="member{{ @index }}" value="{{ this }}">
        {{else}}
          <input class="input-member" type="text" name="member{{ @index }}" value="{{ this }}" readonly>
        {{/if}}
      {{/each}}
    </div>
    <div class="add-button">
      <button type="button" onclick="addNewMember()">+</button>
    </div>
    <div class="edit-team-button">
      <button type="submit">팀 수정하기</button>
    </div>
  </form>
  <form action="/team/{{ id }}?_method=DELETE" method="POST">
    <div class="delete-team-button">
      <button type="submit">팀 삭제하기</button>
    </div>
  </form>
  <div class="home-button">
    <form action="/" method="GET">
      <button>메인</button>
    </form>
  </div>
</div>
<script src="../script-edit.js"></script>
</body>
</html>
