<!DOCTYPE html>
<html>
<head>
  <title>팀 정보 페이지</title>
  <link rel="stylesheet" href="/team/css/info.css">
</head>
<body>
<header>
  <div class="container">
    <h1>
      <a href="/">썬더일레븐</a>
    </h1>
    <nav>
      <ul>
        <li><a href="/match">퀵 매치</a></li>
        <li><a href="/match-result">전적 보기</a></li>
        <li><a href="">용병 모집</a></li>
        <li><a href="/map">경기장 찾기</a></li>
        <li><a href="/team/my">마이 팀</a></li>
        <li><a href="/user">프로필</a></li>
      </ul>
    </nav>
  </div>
</header>

<h2>팀 정보</h2>
<div class="team-info">
  <div class="field">
    <label>팀 이름</label>
    <span>{{ teamName }}</span>
  </div>
  <div class="field">
    <label>활동 지역</label>
    <span>{{ region }}</span>
  </div>
  <div class="field">
    <label>팀 레벨</label>
    <span>{{ teamLevel }}</span>
  </div>
  <div class="field">
    <label>매너 온도</label>
    <span>{{ mannerRate }}</span>
  </div>
  <div class="field">
    <label>매너 카운트</label>
    <span>{{ mannerCount }}</span>
  </div>
  <div class="field">
    <label>팀 인원</label>
    <span>{{ headCount }}</span>
  </div>
  <div class="field">
    <label>팀 리더</label>
    <span>{{ leaderName }}</span>
  </div>
  <div class="field">
    <label>팀 멤버</label>
    {{#each teamMember}}
      <span>{{ this }}</span>
    {{/each}}
  </div>
  <div class="edit-team-button">
    <form action="/team/{{ id }}/edit" method="GET">
      <button>팀 수정하기</button>
    </form>
  </div>
  <div class="home-button">
    <form action="/" method="GET">
      <button>메인</button>
    </form>
  </div>
</div>
</body>
</html>