<!DOCTYPE html>
<html>
<head>
  <title>팀 게시판 페이지</title>
  <link rel="stylesheet" href="/team/css/list.css">
</head>
<body>
<header>
  <div class="container">
    <h1>
      <a href="/">썬더일레븐</a>
    </h1>
    <nav>
      <ul>
        <li><a href="/match">퀵 매치</a></li>
        <li><a href="/match-result">전적 보기</a></li>
        <li><a href="">용병 모집</a></li>
        <li><a href="/map">경기장 찾기</a></li>
        <li><a href="/team/my">마이 팀</a></li>
        <li><a href="/user">프로필</a></li>
      </ul>
    </nav>
  </div>
</header>

<h2>팀 게시판</h2>
<div class="team-list">
  <ul>
    <li class="header">
      <span>팀 이름</span>
      <span>활동 지역</span>
      <span>팀 레벨</span>
      <span>매너 온도</span>
      <span>팀 인원</span>
      <span>팀 리더</span>
    </li>
    {{#each teams}}
      <li>
        <span>
          <a href="/team/{{ id }}">{{ teamName }}</a>
        </span>
        <span>{{ region }}</span>
        <span>{{ teamLevel }}</span>
        <span>{{ mannerRate }}</span>
        <span>{{ headCount  }}</span>
        <span>{{ leaderName }}</span>
      </li>
    {{/each}}
  </ul>
</div>
</body>
</html>
