<!DOCTYPE html>
<html>
<head>
  <title>매치 생성 페이지</title>
  <link rel="stylesheet" href="/match/css/create.css">
</head>
<body>
<header>
  <div class="container">
    <h1>
      <a href="/">썬더일레븐</a>
    </h1>
    <nav>
      <ul>
        <li><a href="/match">퀵 매치</a></li>
        <li><a href="/match-result">전적 보기</a></li>
        <li><a href="">용병 모집</a></li>
        <li><a href="/map">경기장 찾기</a></li>
        <li><a href="/team/my">마이 팀</a></li>
        <li><a href="/user">프로필</a></li>
      </ul>
    </nav>
  </div>
</header>

<h2>매치 생성</h2>
<div class="create-match">
  <form action="" method="POST">
    <div class="field">
      <label>경기장</label>
      <input type="text" name="stadiumName" id="stadiumName" placeholder="경기장을 입력하시오" required>
    </div>
    <div class="field">
      <label>경기장 주소</label>
      <input type="text" name="stadiumAddress" id="stadiumAddress" placeholder="경기장 주소를 입력하시오" required>
    </div>
    <div class="field">
      <label>경기 날짜</label>
      <input type="date" name="matchDate" id="matchDate" required>
    </div>
    <div class="field">
      <label>경기 시간</label>
      <input type="time" name="matchTime" id="matchTime" required>
    </div>
    <div class="field">
      <label>참여 가능한 레벨</label>
      <p>당신의 팀 {{ homeTeam }}의 레벨은 {{ matchLevel }} 입니다</p>
      <ul>
        <div class="match-level">
          <li>
            <span>입문자 - BEGINNER</span>
            <input type="checkbox" name="switch-beginner" id="switch-beginner" />
            <label for="switch-beginner">Toggle</label>
          </li>
        </div>
        <div class="match-level">
          <li>
            <span>아마추어 - INTERMEDIATE</span>
            <input type="checkbox" name="switch-intermediate" id="switch-intermediate" />
            <label for="switch-intermediate">Toggle</label>
          </li>
        </div>
        <div class="match-level">
          <li>
            <span>프로 - ADVANCED</span>
            <input type="checkbox" name="switch-advanced" id="switch-advanced" />
            <label for="switch-advanced">Toggle</label>
          </li>
        </div>
      </ul>
    </div>
    <div class="field">
      <label>경기 참여 인원 (한 팀 기준)</label>
      <input type="number" name="headCountPerTeam" id="headCountPerTeam" placeholder="경기 참여 인원을 입력하시오"
             required>
    </div>
    <div class="field" id="inputMember">
      <label>홈 팀 참여 멤버</label>
      {{#each homeTeamMember}}
        <div class="match-level">
          <span class="member" type="text" name="homeTeamParticipatingMember{{ @index }}"
                id="homeTeamParticipatingMember{{ @index }}">{{ this }}</span>
          <input type="checkbox" name="switch-homeTeamParticipatingMember{{ @index }}"
                 id="switch-homeTeamParticipatingMember{{ @index }}" />
          <label for="switch-homeTeamParticipatingMember{{ @index }}">Toggle</label>
        </div>
      {{/each}}
    </div>
    <div class="submit-button">
      <button type="submit">매치 생성하기</button>
    </div>
  </form>
  <div class="home-button">
    <form action="/" method="get">
      <button>메인</button>
    </form>
  </div>
</div>
<script src="script-create.js"></script>
</body>
</html>
