<!DOCTYPE html>
<html>
<head>
  <title>매치 게시판 페이지</title>
  <link rel="stylesheet" href="/match/css/list.css">
</head>
<body>
<header>
  <div class="container">
    <h1>
      <a href="/">썬더일레븐</a>
    </h1>
    <nav>
      <ul>
        <li><a href="/match">퀵 매치</a></li>
        <li><a href="/match-result">전적 보기</a></li>
        <li><a href="">용병 모집</a></li>
        <li><a href="/map">경기장 찾기</a></li>
        <li><a href="/team/my">마이 팀</a></li>
        <li><a href="/user">프로필</a></li>
      </ul>
    </nav>
  </div>
</header>

<h2>매치 게시판</h2>
<div class="match-list">
  <ul>
    <li class="header">
      <span>경기장</span>
      <span>날짜와 시간</span>
      <span>경기 레벨</span>
      <span>경기 인원</span>
      <span>홈 팀</span>
      <span>원정 팀</span>
    </li>
    {{#each matches}}
      <li>
        <span>
          <a href="/match/{{ id }}">{{ stadiumName }}</a>
        </span>
        <span>{{ matchDateTime }}</span>
        <span>
          {{#each matchLevel}}
            <p>{{ this }}</p>
          {{/each}}
        </span>
        <span>{{ headCountPerTeam }}</span>
        <span>{{ homeTeamName }}</span>
        <span>{{ awayTeamName }}</span>
      </li>
    {{/each}}
  </ul>
</div>
</body>
</html>
