<!DOCTYPE html>
<html>
<head>
  <title>경기 참여 페이지</title>
  <link rel="stylesheet" href="/match/css/participate.css">
</head>
<body>
<header>
  <div class="container">
    <h1>
      <a href="/">썬더일레븐</a>
    </h1>
    <nav>
      <ul>
        <li><a href="/match">퀵 매치</a></li>
        <li><a href="/match-result">전적 보기</a></li>
        <li><a href="">용병 모집</a></li>
        <li><a href="/map">경기장 찾기</a></li>
        <li><a href="/team/my">마이 팀</a></li>
        <li><a href="/user">프로필</a></li>
      </ul>
    </nav>
  </div>
</header>

<h2>경기 참여</h2>
<div class="participate-match">
  <form action="" method="POST">
    <div hidden="hidden">
      <input id="matchId" name="matchId" value="{{ matchId }}" readonly>
      <input id="headCountPerTeam" name="headCountPerTeam" value="{{ headCountPerTeam }}" readonly>
    </div>
    <div class="field">
      <h2>{{ headCountPerTeam }} VS {{ headCountPerTeam}}</h2>
    </div>
    <div class="field" id="inputMember">
      <label>원정 팀 멤버 선택</label>
      {{#each awayTeamMember}}
        <div class="match-level">
          <span class="member" type="text" name="awayTeamParticipatingMember{{ @index }}"
                id="awayTeamParticipatingMember{{ @index }}">{{ this }}</span>
          <input type="checkbox" name="switch-awayTeamParticipatingMember{{ @index }}"
                 id="switch-awayTeamParticipatingMember{{ @index }}" />
          <label for="switch-awayTeamParticipatingMember{{ @index }}">Toggle</label>
        </div>
      {{/each}}
    </div>
    <div class="submit-button">
      <button type="submit">참가하기</button>
    </div>
  </form>
  <div class="home-button">
    <form action="/" method="get">
      <button>메인</button>
    </form>
  </div>
</div>
<script src="../script-participate.js"></script>
</body>
</html>
