<!DOCTYPE html>
<html>
<head>
  <title>경기 참여 페이지</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f5f5f5;
      margin: 0;
      padding: 20px;
    }
    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 0 20px;
    }

    .container a {
      color: #ffffff;
      text-decoration: none;
    }

    header {
      background-color: #333;
      color: #fff;
      padding: 20px 0;
    }

    h1, h2, h3, h4 {
      margin: 0;
    }

    nav {
      border-top: 2px solid white;
      border-bottom: 2px solid white;
    }

    nav ul {
      list-style: none;
      margin: 10px;
    }

    nav ul li {
      display: inline-block;
      margin-right: 50px;
    }

    nav ul li {
      color: #fff;
      text-decoration: none;
    }

    nav ul li :hover {
      text-decoration: none;
    }

    h2 {
      text-align: center;
      margin-top: 20px;
    }

    .participate-match {
      max-width: 400px;
      margin: 20px auto 0;
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .participate-match label {
      font-weight: bold;
    }

    .participate-match .field {
      margin-bottom: 20px;
    }

    .participate-match .field label {
      display: block;
    }

    .participate-match .field input,
    .participate-match .field select {
      width: 95%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    .match-level {
      margin-top: 10px;
    }

    .match-level input[type=checkbox] {
      height: 0;
      width: 0;
      visibility: hidden;
    }

    .match-level label {
      cursor: pointer;
      text-indent: -9999px;
      width: 40px; /* 20% of the original width */
      height: 20px; /* 20% of the original height */
      background: grey;
      display: block;
      border-radius: 10px; /* 20% of the original border radius */
      position: relative;
    }

    .match-level label:after {
      content: '';
      position: absolute;
      top: 2px; /* Adjust the top position to center the inner circle */
      left: 2px; /* Adjust the left position to center the inner circle */
      width: 16px; /* 20% of the original width */
      height: 16px; /* 20% of the original height */
      background: #fff;
      border-radius: 50%; /* Maintain a circular shape */
      transition: 0.3s;
    }

    .match-level input:checked + label {
      background: #bada55;
    }

    .match-level input:checked + label:after {
      left: calc(100% - 2px); /* Adjust the left position to maintain proportions */
      transform: translateX(-100%);
    }

    .match-level label:active:after {
      width: 20px; /* 20% of the original width */
    }

    .match-level body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .participate-match .submit-button {
      text-align: center;
      margin-top: 20px;
    }

    .participate-match .submit-button button {
      background-color: #4CAF50;
      color: #fff;
      border: none;
      padding: 12px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      border-radius: 5px;
      cursor: pointer;
    }

    .participate-match .submit-button button:hover {
      background-color: #45a049;
    }

    .home-button {
      text-align: center;
      margin-top: 30px;
    }

    .home-button button {
      background-color: #008CBA;
      color: #fff;
      border: none;
      padding: 12px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      border-radius: 5px;
      cursor: pointer;
    }

    .home-button button:hover {
      background-color: #007B9E;
    }

    .member {
      margin-top: 3px;
    }
  </style>
</head>
<body>
<header>
  <div class="container">
    <h1>
      <a href="/">썬더일레븐</a>
    </h1>
    <nav>
      <ul>
        <li><a href="/match">퀵 매치</a></li>
        <li><a href="/match-result">전적 보기</a></li>
        <li><a href="">용병 모집</a></li>
        <li><a href="/map">경기장 찾기</a></li>
        <li><a href="/team/my">마이 팀</a></li>
        <li><a href="/user">프로필</a></li>
      </ul>
    </nav>
  </div>
</header>

<h2>경기 참여</h2>
<div class="participate-match">
  <form action="" method="POST">
    <div hidden="hidden">
      <input id="matchId" name="matchId" value="{{ matchId }}" readonly>
      <input id="headCountPerTeam" name="headCountPerTeam" value="{{ headCountPerTeam }}" readonly>
    </div>
    <div class="field">
      <h2>{{ headCountPerTeam }} VS {{ headCountPerTeam}}</h2>
    </div>
    <div class="field" id="inputMember">
      <label>원정 팀 멤버 선택</label>
      {{#each awayTeamMember}}
        <div class="match-level">
          <span class="member" type="text" name="awayTeamParticipatingMember{{ @index }}"
                id="awayTeamParticipatingMember{{ @index }}">{{ this }}</span>
          <input type="checkbox" name="switch-awayTeamParticipatingMember{{ @index }}"
                 id="switch-awayTeamParticipatingMember{{ @index }}" />
          <label for="switch-awayTeamParticipatingMember{{ @index }}">Toggle</label>
        </div>
      {{/each}}
    </div>
    <div class="submit-button">
      <button type="submit">참가하기</button>
    </div>
  </form>
  <div class="home-button">
    <form action="/" method="get">
      <button>메인</button>
    </form>
  </div>
</div>
<script src="../script-participate.js"></script>
</body>
</html>
