<html>
<head>
  <title>전적 게시판 페이지</title>
  <link rel="stylesheet" href="/match_result/css/list.css">
</head>
<body>
<header>
  <div class='container'>
    <h1>
      <a href='/'>썬더일레븐</a>
    </h1>
    <nav>
      <ul>
        <li><a href='/match'>퀵 매치</a></li>
        <li><a href='/match-result'>전적 보기</a></li>
        <li><a href=''>용병 모집</a></li>
        <li><a href='/map'>경기장 찾기</a></li>
        <li><a href='/team/my'>마이 팀</a></li>
        <li><a href='/user'>프로필</a></li>
      </ul>
    </nav>
  </div>
</header>

<h2>전적 게시판</h2>
<div class='match-result-list'>
  <ul>
    <li class='header'>
      <span>경기장</span>
      <span>홈 팀</span>
      <span>원정 팀</span>
      <span>스코어</span>
      <span>경기 인원</span>
    </li>
    {{#each matchResults}}
      <li>
        <span><a href='/match-result/{{this.id}}'>{{this.match.stadiumName}}</a></span>
        <span>{{this.homeTeam.teamName}}</span>
        <span>{{this.awayTeam.teamName}}</span>
        <span>{{this.homeTeamScore}} - {{this.awayTeamScore}}</span>
        <span>{{this.match.headCountPerTeam}} VS {{this.match.headCountPerTeam}}</span>
      </li>
    {{/each}}
  </ul>
</div>
</body>
</html>